# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# Eclipse / VSCode
.vscode/
.classpath
.project
.settings/
bin/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
